:root {
  --ws-lgrey: #f6f3ef;
  --ws-white: #ffffff;
  --ws-lbrown: #7c5c4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Courier Prime", monospace;
  background-color: var(--ws-white);
}

.layout {
  color: red;
  border: 0.1rem;
  border-style: dotted;
}
